<div class="hover:shadow flex p-4 justify-between items-center bg-gray-50 my-2">
  <div class="flex items-center">
    <div>#id</div>
    <div class="ml-2">Title</div>
    <!-- <input class="ml-2 input" type="text" placeholder="Update title"> -->
  </div>
  <div>
    <button *ngIf="editTodo; else elseBlock;" class="btn blue mr-2">Edit</button>
    <ng-template #elseBlock>
      <button class="btn blue mr-2" (click)="updateToggle()">Update</button>
    </ng-template>

    <button class="btn red">Delete</button>
  </div>
</div>


